* {
    text-decoration: none;
    margin: 0%;
    font-family: Comic Sans MS,Arial, Helvetica, sans-serif;
    border: border-box;
}
header{
    animation: fadeIn 1.5s ease-out forwards;
}
@keyframes fadeIn{
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to{
        transform:translateY(0);
        opacity: 1;
    }
}
.info-bar{
    color: aliceblue;
    background-color: rgba(15, 15, 141, 0.89);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
a{
    color: aliceblue;
    font-size: larger;
    padding: 10px;
}
a:hover{
    border: 1px solid aliceblue;
}
.myself{
    display: flex;
    height:675px;
    background: linear-gradient(45deg,rgba(139, 139, 224, 0.674),rgba(74, 74, 232, 0.89));
}
.intro{
    margin-top: 70px;
    margin-left: 100px;
    color: rgba(1, 1, 103, 0.89);
    font-weight: 800;
    font-size: 60px;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    font-size: 30px;
    margin-top: 80px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pic{
    background-image: url(fest.jpeg);
    background-size: cover;
    height: 290px;
    width:290px;
    border: 2px solid rgb(194, 186, 186);
    border-radius: 50%;
    margin-top: 70px;
    margin-left: 550px;
}